* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
   ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #4b7f6d;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    background-image: url(images/ciel.jpg)
}

.carte{
    background:rgba(118, 69, 89, 0.5);
    color: whitesmoke;
    padding: 220px;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.carte h1{
    display: flex;
    align-self: flex-start;
}
